.couponCode {
  height: 106px;
  width: 100%;
  border-radius: 8px;
  background: #fff4e4;
  padding: 16px;
  font-weight: 400;
  color: #191919;
  position: relative;
  margin-bottom: 10px;

  display: flex;
}

.background {
  width: 74px;
  height: 74px;
  margin-right: 10px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.background img {
  width: 100%;
  /* height: 100%; */
}

.couponCode:last-child {
  margin-bottom: 0;
}

.foreground {
  z-index: 1;
}

.couponDiscounts {
  line-height: 22px;
  font-weight: 700;
  font-size: 18px;
  color: #fd384f;
}
.couponCondition {
  line-height: 16px;
  font-size: 12px;
}
.couponDescription {
  line-height: 16px;
  font-size: 12px;
  color: #757575;
  margin: 8px 0 4px;
}
.couponCodeTime {
  line-height: 16px;
  font-size: 12px;
  color: #757575;
}

.couponBackimg {
  height: 80px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.couponCodes {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  padding: 2px 4px;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  height: 27px;

  background: rgba(221, 221, 221, 0.3);
  border-radius: 4px;
  color: #252525;

  cursor: pointer;
  border: 2px dashed #ff6900;
  background: linear-gradient(
      315deg,
      rgba(0, 0, 0, 0.06) 10%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0.06) 40%,
      rgba(0, 0, 0, 0.06) 60%,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0) 85%,
      rgba(0, 0, 0, 0.06) 90%
    )
    repeat scroll 0 0 / 6px 6px rgba(0, 0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  -webkit-user-select: none; /* 适用于 Safari */
  -moz-user-select: none; /* 适用于 Firefox */
  -ms-user-select: none; /* 适用于 Internet Explorer 和 Edge */
}

.couponCodesHide {
  width: 60%;
  height: 31px;
  position: absolute;
  left: 0;
  top: 0;
  background: #8776e0;
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
}

.couponCodesHide::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 33px solid #0000;
  border-left: 45px solid #8776e0;
  position: absolute;
  right: -44px;
  top: 0;
}

.conceal {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.couponCode:last-child {
  margin-bottom: 0;
}

.couponBanner {
  background: #ffebed;

  height: 106px;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  font-weight: 400;
  color: #191919;
  position: relative;
}
