.couponItem {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 48%;
  min-height: 120px;
  box-sizing: border-box;
  position: relative;
  border-radius: 6px;
  margin-bottom: 30px;
}

.couponItem:nth-child(odd) {
  float: left;
  clear: left;
  margin-top: 36px;
}

.couponItem:nth-child(even) {
  float: right;
  clear: right;
  margin-top: 56px;
}

.couponItem:nth-child(odd) .time {
  position: absolute;
  left: auto;
  padding-left: 0;
  padding-right: 3em;
  right: -4.1666666667%;
  background: #c7c7c7;

  margin-left: -1px;
  margin-right: -1.5px;

  top: -3em;
  color: #f0f0f0;
  font-size: 0.83em;
  -webkit-background-clip: content-box;
}

.couponItem:nth-child(odd) .time::before {
  content: "";
  width: 200%;
  height: 2.3em;
  border: 1px solid #c7c7c7;
  border-right-width: 0;
  border-bottom-width: 0;
  display: block;
  position: absolute;
  top: 50%;
  right: -3px;
  z-index: -1;
}

.couponItem:nth-child(odd) .time::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -3px;

  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: #dbdbdb;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #dee1e3;
}

.couponItem:nth-child(even) .time {
  position: absolute;
  right: auto;
  padding-left: 3em;
  padding-right: 0;
  left: -4.1666666667%;
  background: #c7c7c7;

  margin-left: -1px;
  margin-right: -1.5px;

  top: -3em;
  color: #f0f0f0;
  font-size: 0.83em;
  -webkit-background-clip: content-box;
}

.couponItem:nth-child(even) .time::before {
  content: "";
  width: 200%;
  height: 2.3em;
  border: 1px solid #c7c7c7;
  border-left-width: 0;
  border-bottom-width: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: -3px;
  z-index: -1;
}

.couponItem:nth-child(even) .time::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: auto;

  left: -3px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: #dbdbdb;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #dee1e3;
}

.header {
  height: 32px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 8px;

  display: flex;
  justify-content: space-between;
}

.header a {
  color: #8776e0;
  text-decoration: none;
}

.content {
  padding: 8px;
}

.couponCode {
  width: 100%;
  height: 160px;
  color: #191919;
  background: #fff4e4;
  border-radius: 8px;
  padding: 16px;
  font-weight: 400;
  position: relative;
}

.couponTop {
  height: 84px;
  display: flex;
  justify-content: space-between;
}

.couponBackground {
  width: 84px;
  height: 84px;
  margin-right: 10px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.couponBackground img {
  width: 100%;
}

.couponContent {
  flex: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.couponContentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 14px;
}

.couponContentItem span:first-child {
  color: #fd384f;
  width: 30%;
}
.couponContentItem span:nth-child(2) {
  color: #757575;
  width: 40%;
}
.couponContentItem span:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: rgba(221, 221, 221, 0.3);
  border-radius: 4px;
  color: #252525;
  padding: 1px 8px;
  border: 2px dashed #ff6900;
  background: linear-gradient(
      315deg,
      rgba(0, 0, 0, 0.06) 10%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0.06) 40%,
      rgba(0, 0, 0, 0.06) 60%,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0) 85%,
      rgba(0, 0, 0, 0.06) 90%
    )
    repeat scroll 0 0 / 6px 6px rgba(0, 0, 0, 0);

  user-select: none;
  -webkit-user-select: none; /* 适用于 Safari */
  -moz-user-select: none; /* 适用于 Firefox */
  -ms-user-select: none; /* 适用于 Internet Explorer 和 Edge */
  text-decoration: auto;
}

.couponContentMore {
  line-height: 14px;
  color: #fd384f;
}

.couponBottom {
  height: 44px;
  display: flex;
  align-items: center;
}

.couponReleaseTime {
}

.couponSectionTime {
}
