.couponItem {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 48%;
  min-height: 120px;
  box-sizing: border-box;
  position: relative;
  border-radius: 6px;
  margin-bottom: 30px;
}

.couponItem:nth-child(odd) {
  float: left;
  clear: left;
  margin-top: 36px;
}

.couponItem:nth-child(even) {
  float: right;
  clear: right;
  margin-top: 56px;
}

.couponItem:nth-child(odd) .time {
  position: absolute;
  left: auto;
  padding-left: 0;
  padding-right: 3em;
  right: -4.1666666667%;
  background: #c7c7c7;

  margin-left: -1px;
  margin-right: -1.5px;

  top: -3em;
  color: #f0f0f0;
  font-size: 0.83em;
  -webkit-background-clip: content-box;
}

.couponItem:nth-child(odd) .time::before {
  content: "";
  width: 200%;
  height: 2.3em;
  border: 1px solid #c7c7c7;
  border-right-width: 0;
  border-bottom-width: 0;
  display: block;
  position: absolute;
  top: 50%;
  right: -3px;
  z-index: -1;
}

.couponItem:nth-child(odd) .time::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -3px;

  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: #dbdbdb;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #dee1e3;
}

.couponItem:nth-child(even) .time {
  position: absolute;
  right: auto;
  padding-left: 3em;
  padding-right: 0;
  left: -4.1666666667%;
  background: #c7c7c7;

  margin-left: -1px;
  margin-right: -1.5px;

  top: -3em;
  color: #f0f0f0;
  font-size: 0.83em;
  -webkit-background-clip: content-box;
}

.couponItem:nth-child(even) .time::before {
  content: "";
  width: 200%;
  height: 2.3em;
  border: 1px solid #c7c7c7;
  border-left-width: 0;
  border-bottom-width: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: -3px;
  z-index: -1;
}

.couponItem:nth-child(even) .time::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: auto;

  left: -3px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: #dbdbdb;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #dee1e3;
}

.header {
  height: 32px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 8px;
}

.content {
  padding: 8px;
}
